---
type Props = {
    videoId: string;
    title: string;
    provider?: 'vimeo' | 'youtube';
};

const { videoId, title, provider = 'vimeo' } = Astro.props;
const src = provider === 'youtube' ? `https://www.youtube-nocookie.com/embed/${videoId}` : `https://player.vimeo.com/video/${videoId}`;
---

<div class="my-8 aspect-video overflow-hidden">
    <iframe
        class="h-full w-full"
        src={src}
        title={title}
        loading="lazy"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
        referrerpolicy="strict-origin-when-cross-origin"></iframe>
</div>
